* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-poppins: Poppins, sans-serif;
  --text-primary: black;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;
}

body {
  font-family: var(--font-poppins);
  position: relative;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#container {
  margin: 0 auto;
  width: 90vw;
}

/* Header Section Start */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 50;
}

nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto 0 auto;
  padding: 15px 25px;
  border: 1px solid #EAEAEA;
  border-radius: 13px;
  box-shadow: 0 3px 8px #CECECE;
  background-color: #ffffff;
}

#logo span {
  font-size: 24px;
  font-weight: 600;
}

#dropdown-menu {
  position: relative;
}

#menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  width: 20px;
  height: 20px;
}

#toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

.hamburger {
  display: block;
  width: 100%;
  padding: 1.5px;
  border-radius: 1.5px;
  background-color: #252525;
}

.hamburger:last-child {
  transition: all .2s ease-in;
}

#toggle:checked ~ .hamburger:last-child {
  width: 60%;
  transition: all .2s ease-out;
}

#menu-item {
  position: absolute;
  right: 0;
  margin-top: 10px;
  padding: 30px 50px;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 3px 8px #EAEAEA;
  background-color: #FFFFFF;
  transition: all .3s ease-in;
} #menu-item.show {
  opacity: 1;
  transform: scaleY(1);
  transition: all .3s ease-out;
}

#menu-item ul li {
  list-style: none;
  opacity: 0;
  transform: scale(0);
  transition: all .3s ease-out;
} #menu-item.show ul li {
  opacity: 1;
  transform: scale(1);
  transition: all .3s ease-out;
}

#menu-item ul li:first-child,
#menu-item ul li:nth-child(2),
#menu-item ul li:nth-child(3) {
  margin-bottom: 15px;
}

#menu-item ul li a {
  text-decoration: none;
  color: var(--text-primary);
}

#nav-menu {
  display: none;
}
/* Header Section End */

/* Content */
section {
  padding: 120px 0;
}

#content h1 {
  font-size: var(--text-4xl);
  margin-bottom: 25px;
}

/* Home Section Start */
#home {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  cursor: default;
}

#home #greetings {
  font-size: var(--text-2xl);
}

#home #name {
  font-size: var(--text-6xl);
}

#home span {
  font-size: var(--text-base);
  font-weight: 500;
}

#autotype {
  font-family: var(--font-poppins);
  font-size: var(--text-base);
  font-weight: 500;
  color: var(--text-primary);
  border: none;
  background-color: transparent;
}
/* Home Section End */

/* About Section Start */
#about article {
  padding-left: 20px;
  border-left: 5px solid #252525;
}

#about p .bold {
  font-weight: bold;
}

#about p .highlight {
  background-color: yellow;
}
/* About Section End */

/* Skills Section Start */
#skills {
  padding-bottom: 70px;
}

#skills h1 {
  margin-bottom: 10px;
}

#skill-container {
  margin-top: 30px;
  height: 140px;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
}
#skill-container::-webkit-scrollbar {
  height: 7px;
  height: 0;
}

.skill-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.skill-items .logo {
  display: flex;
  justify-content: center;
}

.skill-items .logo svg {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all .3s ease-in;
} .skill-items svg:hover {
  transform: scale(1.2);
  transition: all .3s ease-out;
}

.skill-items .logo-tooltip {
  width: fit-content;
  padding: 7px 14px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  transform: scale(0);
  background-color: #f0f0f0;
  transition: all .3s ease-in;
} .skill-items svg:hover ~ .logo-tooltip {
  transform: scale(1);
  transition: all .3s ease-out;
}

.skill-items .logo-tooltip p {
  font-weight: 700;
  text-align: center;
}
/* Skills Section End */

/* Education Section Start */
#education ol {
  padding-top: 24px;
  padding: 24px 0;
  margin-left: 15px;
  border-left: 1px solid #252525;
}

#education li {
  list-style: none;
}

#education .education-list {
  margin-bottom: 40px;
}

#education .education-list:last-child {
  margin-bottom: 0;
}

#education .datetime {
  display: flex;
  align-items: center;
}

.point {
  padding: 4.5px;
  margin: 0 12px 0 -5px;
  border-radius: 10px;
  background-color: black;
}

#education .date {
  font-size: var(--text-xs);
  padding: 3px 12px;
  border: 1px solid #8F8F8F;
  border-radius: 50px;
  background-color: #EAEAEA;
}

#education article {
  margin: 8px 0 0 16px;
}

#education h4 {
  font-size: var(--text-xl);
  margin-bottom: 4px;
}

#education .expertise {
  margin-bottom: 12px;
}

#education article .point {
  width: 0;
  height: 0;
  padding: 4px;
  margin: 7px 12px 0 0;
}

#education article ul li {
  display: flex;
}

#education article ul li p {
  font-size: var(--text-sm);
}
/* Education Section End */

/* Project Section Start */
#project-container {
  margin-top: 24px;
  border-top: 1px solid #D7D7D7;
}

#project .accordion {
  border-bottom: 1px solid #D7D7D7;
  transition: all .2s ease-in;
}

.accordion .view-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  border: none;
  font-family: var(--font-poppins);
  cursor: pointer;
  background-color: white;
  transform-origin: left;
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.project-name h4 {
  font-size: calc(var(--text-3xl) - 2px);
  font-size: var(--text-2xl);
  text-align: start;
}

.project-name .year {
  width: fit-content;
  font-size: var(--text-xl);
  font-weight: 500;
}

#project .chevron-container {
  transform: rotate(45deg);
  transition: all .3s ease-in;
} .chevron-container.rotate {
  transform: rotate(-135deg)!important;
  transition: all .3s ease-out;
}

#project .chevron {
  width: 13px;
  height: 13px;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  /* border-radius: 10px; */
}

.project-description {
  height: 0;
  padding: 0 24px;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: all .3s ease-in;
} .project-description.show {
  height: inherit;
  padding-bottom: 24px;
  transform: scaleY(1);
  opacity: 1;
  transition: all .3s ease-out;
}

.project-description h5 {
  font-size: var(--text-lg);
  font-weight: 600;
  margin: 25px 0 15px 0;
}

.project-description ul li {
  list-style: none;
  display: flex;
}

.project-description .point {
  width: 0;
  height: 0;
  padding: 4px;
  margin: 7px 12px 0 10px;
}

.project-description ul li p {
  font-size: var(--text-sm);
}

.project-description .link {
  display: flex;
}

.project-description .link a {
  text-decoration: none;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  padding: 3px 12px;
  margin-right: 15px;
  border: 1px solid #8F8F8F;
  border-radius: 50px;
  background-color: #EAEAEA;
}

.project-description .link a p {
  font-size: var(--text-xs);
  font-weight: 500;
  margin-left: 5px;
}
/* Project Section End */

/* Side Section Start */
aside {
  margin-top: 120px;
}

#profile {
  width: 376px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #F1F1F1;
}

#profile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-pict {
  display: flex;
}

#profile-pict img {
  width: 120px;
  height: 170px;
  object-fit: cover;
  border-start-start-radius: 9px;
  filter: grayscale(1);
  cursor: pointer;
  transition: all .2s ease-in;
} #profile-pict img:hover {
  filter: grayscale(0);
  transition: all .2s ease-out;
}

#profile-head blockquote {
  width: 100%;
  padding: 0 20px;
  font-size: var(--text-sm);
}

#profile-head #quote {
  font-style: italic;
  font-weight: 600;
}

#profile-body {
  padding: 40px 20px;
}

#contact h5 {
  font-size: var(--text-lg);
  font-weight: 600;
  margin-bottom: 10px;
}

#contact #social-media p:last-child {
  margin-top: 10px;
}

#media-links {
  margin-top: 20px;
  display: flex;
}

#media-links .media-item {
  margin-right: 10px;
  position: relative;
}

#media-links .media-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  color: var(--text-primary);
  transition: all .2s ease-in;
} #media-links .media-item a:hover {
  background-color: #0EA5E9;
  transition: all .2s ease-out;
}

#media-links .media-tooltip {
  border-radius: 5px;
  position: absolute;
  bottom: -35px;
  transform: scale(0);
  background-color: #DFDFDF;
  transition: all .2s ease-in;
} #media-links .media-item a:hover .media-tooltip {
  transform: scale(1)!important;
  transition: all .2s ease-out;
}

#media-links .media-tooltip p {
  padding: 5px 10px;
  font-size: var(--text-sm);
  font-weight: 700;
  margin: 0!Important;
}

#contact #email {
  margin-top: 40px;
}

#contact #email a {
  text-decoration: none;
  color: #A1A1A1;
}

#profile-footer {
  padding: 0 20px 30px 20px;
  font-weight: 500;
}

#profile-footer p:first-child {
  color: #0EA5E9;
}

#profile-footer p:last-child {
  color: rgba(0, 0, 0, 0.6);
}
/* Side Section End */

/* Footer Section Start */
footer {
  margin-top: 150px;
  padding: 10px;
  border-top: 1px solid black;
}

footer p {
  text-align: center;
}
/* Footer Section End */



/* Responsive Breakpoints */

@media screen and (min-width: 640px) {
  #container {
    max-width: 640px;
  }

  /* Header Section */
  nav {
    max-width: 640px!important;
  }
  /* Header Section */
}

@media screen and (min-width: 768px) {
  #container {
    max-width: 768px;
  }

  /* Header Section */
  nav {
    max-width: 768px!important;
  }

  #dropdown-menu {
    display: none;
  }

  #nav-menu {
    display: inherit;
  }
  
  #nav-menu ul {
    display: flex;
  }

  #nav-menu ul li {
    list-style: none;
  }

  #nav-menu ul li:first-child,
  #nav-menu ul li:nth-child(2),
  #nav-menu ul li:nth-child(3) {
    margin-right: 30px;
  }

  #nav-menu ul li a {
    text-decoration: none;
    color: var(--text-primary);
  }
  /* Header Section */

  /* Home Section */
  #home #name {
    font-size: var(--text-5xl);
  }
  /* Home Section */
}

@media screen and (min-width: 1024px) {
  #container {
    max-width: 1024px;
  }

  /* Header Section */
  nav {
    max-width: 1024px!important;
  }
  /* Header Section */

  /* Home Section */
  #home #name {
    font-size: calc(var(--text-6xl) - 8px);
  }
  /* Home Section */
}

@media screen and (min-width: 1280px) {
  #container {
    max-width: 1280px;
  }

  /* Header Section */
  nav {
    max-width: 1280px!important;
  }
  /* Header Section */

  /* Home Section */
  #home #name {
    font-size: var(--text-6xl);
  }

  #home span, #autotype {
    font-size: var(--text-lg);
  }
  /* Home Section */
}