* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;
  --black: #0f172a;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-600: #64748b;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: var(--font-poppins);
  position: relative;
  overflow-x: hidden;
}

p {
  color: var(--slate-600);
}

h1, h4, h5 {
  color: var(--black);
}

#container {
  margin: 0 auto;
  width: 90vw;
}

/* Header Section Start */
header {
  position: fixed;
  top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FFFFFF;
  z-index: 50;
}

nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto 0 auto;
  padding: 20px 30px;
  box-shadow: 0 3px 5px #EAEAEA;
  border: 1px solid #F1F1F1;
  border-radius: 15px;
  background-color: #FFFFFF;
}

nav a {
  font-weight: 500;
}

#logo span {
  font-size: 24px;
  font-weight: 600;
}

#dropdown-menu {
  position: relative;
}

#menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  width: 20px;
  height: 20px;
}

#toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

.hamburger {
  display: block;
  width: 100%;
  padding: 1.5px;
  border-radius: 1.5px;
  background-color: #252525;
}

.hamburger:last-child {
  transition: all .2s ease-in;
}

#toggle:checked ~ .hamburger:last-child {
  width: 60%;
  transition: all .2s ease-out;
}

#menu-item {
  position: absolute;
  right: 0;
  margin-top: 10px;
  padding: 20px 0;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  border-radius: 15px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 3px 8px #EAEAEA;
  background-color: #FFFFFF;
  transition: all .3s ease-in;
} #menu-item.show {
  opacity: 1;
  transform: scaleY(1);
  transition: all .3s ease-out;
}

#menu-item ul li {
  list-style: none;
  opacity: 0;
  transform: scale(0);
  transition: all .3s ease-out;
} #menu-item.show ul li {
  opacity: 1;
  transform: scale(1);
  transition: all .3s ease-out;
}

#menu-item ul li a {
  text-decoration: none;
  color: var(--text-black);
  display: block;
  width: 100%;
  padding: 7px 25px;
  transition: all .2s ease-in;
} #menu-item ul li a:hover {
  color: var(--pink-600);
  background-color: var(--pink-100);
  transition: all .2s ease-out;
}

#nav-menu {
  display: none;
}
/* Header Section End */

/* Content */
section {
  padding: 120px 0;
}

#content h1 {
  font-size: var(--text-4xl);
  margin-bottom: 25px;
}

/* Home Section Start */
#home {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  cursor: default;
}

#home #greetings {
  font-size: var(--text-2xl);
  color: var(--pink-600);
}

#home #name {
  font-size: var(--text-5xl);
}

#home span {
  font-size: var(--text-sm);
  font-weight: 500;
}

#autotype {
  font-family: var(--font-poppins);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--pink-700);
  border: none;
  background-color: transparent;
}
/* Home Section End */

/* About Section Start */
#about article {
  padding-left: 20px;
  border-left: 5px solid var(--black);
}

#about p .bold {
  color: var(--black);
  font-weight: bold;
}

#about p .highlight {
  color: var(--black);
  color: var(--pink-700);
  background-color: var(--pink-100);
}
/* About Section End */

/* Skills Section Start */
#skills {
  padding-bottom: 70px;
}

#skills h1 {
  margin-bottom: 10px;
}

#skill-container {
  margin-top: 30px;
  height: 140px;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
}
#skill-container::-webkit-scrollbar {
  height: 7px;
  height: 0;
}

.skill-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.skill-items .logo {
  display: flex;
  justify-content: center;
}

.skill-items .logo svg {
  display: flex;
  flex-direction: column;
  fill: var(--slate-300);
  cursor: pointer;
  transition: all .3s ease-in;
} .skill-items svg:hover {
  transform: scale(1.2);
  fill: var(--pink-500);
  transition: all .3s ease-out;
}

.skill-items .logo-tooltip {
  width: fit-content;
  padding: 7px 14px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  transform: scale(0);
  background-color: var(--pink-100);
  transition: all .3s ease-in;
} .skill-items svg:hover ~ .logo-tooltip {
  transform: scale(1);
  transition: all .3s ease-out;
}

.skill-items .logo-tooltip p {
  color: var(--pink-500);
  font-weight: 700;
  text-align: center;
}
/* Skills Section End */

/* Education Section Start */
#education ol {
  padding-top: 24px;
  padding: 24px 0;
  margin-left: 15px;
  border-left: 1px solid var(--slate-400);
}

#education li {
  list-style: none;
}

#education .education-list {
  margin-bottom: 40px;
}

#education .education-list:last-child {
  margin-bottom: 0;
}

#education .datetime {
  display: flex;
  align-items: center;
}

.point {
  padding: 4.5px;
  margin: 0 12px 0 -5px;
  border-radius: 10px;
  background-color: var(--pink-600);
}

#education .date {
  font-size: var(--text-xs);
  padding: 5px 12px;
  color: var(--pink-600);
  border: 1px solid var(--pink-500);
  border-radius: 50px;
  cursor: default;
  background-color: var(--pink-50);
}

#education article {
  margin: 8px 0 0 16px;
}

#education h4 {
  font-size: var(--text-xl);
  margin-bottom: 4px;
}

#education .expertise {
  margin-bottom: 12px;
  font-weight: 500;
}

#education article .point {
  width: 0;
  height: 0;
  padding: 4px;
  margin: 7px 12px 0 0;
  box-shadow: none;
  background-color: var(--black);
}

#education article ul li {
  display: flex;
}

#education article ul li p {
  font-size: var(--text-sm);
}
/* Education Section End */

/* Project Section Start */
#project-container {
  margin-top: 24px;
  border-top: 1px solid var(--slate-200);
}

#project .accordion {
  border-bottom: 1px solid var(--slate-200);
  transition: all .2s ease-in;
}

.accordion .view-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  border: none;
  font-family: var(--font-poppins);
  cursor: pointer;
  background-color: white;
  transform-origin: left;
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.project-name h4 {
  font-size: calc(var(--text-3xl) - 2px);
  font-weight: 600;
  text-align: start;
}

.project-name .year {
  width: fit-content;
  font-size: var(--text-xl);
  font-weight: 500;
  color: var(--pink-600);
}

.view-btn .chevron {
  stroke: var(--slate-400);
  transition: all .3s ease-in;
} .view-btn .chevron.rotate {
  transform: rotate(-180deg);
  transition: all .3s ease-out;
}

.project-description {
  height: 0;
  padding: 0 20px;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: all .3s ease-in;
} .project-description.show {
  height: inherit;
  padding-bottom: 24px;
  transform: scaleY(1);
  opacity: 1;
  transition: all .3s ease-out;
}

.project-description h5 {
  font-size: var(--text-xl);
  font-weight: 600;
  margin: 25px 0 15px 0;
}

.project-description ul li {
  list-style: none;
  display: flex;
}

.project-description .point {
  width: 0;
  height: 0;
  padding: 4px;
  background-color: var(--black);
  margin: 7px 12px 0 10px;
}

.project-description .link {
  display: flex;
}

.project-description .link a {
  text-decoration: none;
  color: var(--text-black);
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 9px 0 15px;
  margin-right: 15px;
  border-radius: 50px;
  background-color: var(--pink-50);
} .project-description .link a:hover {
  background-color: var(--pink-100);
}

.project-description .link a p {
  font-size: var(--text-sm);
  font-weight: 600;
  color: var(--pink-600);
  margin-right: 6px;
} .project-description .link a:hover p {
  color: var(--pink-700);
}

.project-description .link a svg {
  stroke: var(--pink-300);
} .project-description .link a:hover svg {
  stroke: var(--pink-400);
}
/* Project Section End */

/* Side Section Start */
aside {
  margin-top: 120px;
}

#profile {
  width: 376px;
  margin: 0 auto;
  border: 1px solid var(--slate-200);
  border-radius: 15px;
  box-shadow: 0 3px 5px #EAEAEA;
}

#profile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-pict {
  display: flex;
}

#profile-pict img {
  width: 120px;
  height: 170px;
  object-fit: cover;
  border-start-start-radius: 14px;
  filter: grayscale(1);
  cursor: pointer;
  transition: all .2s ease-in;
} #profile-pict img:hover {
  filter: grayscale(0);
  transition: all .2s ease-out;
}

#profile-head blockquote {
  width: 100%;
  padding: 0 20px;
  font-size: var(--text-sm);
}

#profile-head #quote {
  font-style: italic;
  font-weight: 600;
  color: var(--black);
}

#profile-head #author {
  font-weight: 600;
}

#profile-body {
  padding: 40px 20px;
}

#contact h5 {
  font-size: var(--text-lg);
  font-weight: 600;
  margin-bottom: 10px;
}

#contact #social-media p:last-child {
  margin-top: 10px;
}

#media-links {
  margin-top: 30px;
  display: flex;
}

#media-links .media-item {
  margin-right: 10px;
  position: relative;
}

#media-links .media-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  color: var(--text-black);
  transition: all .2s ease-in;
} #media-links .media-item a:hover {
  background-color: var(--pink-100);
  transition: all .2s ease-out;
}

#media-links .media-item a svg, .media-item a svg path {
  fill: var(--slate-300);
  transition: all .2s ease-in;
}

#media-links .media-item a:hover svg,
#media-links .media-item a:hover svg path {
  fill: var(--pink-600);
  transition: all .2s ease-in;
}

#media-links .media-tooltip {
  border-radius: 5px;
  position: absolute;
  bottom: -35px;
  transform: scale(0);
  background-color: var(--pink-100);
  transition: all .2s ease-in;
} #media-links .media-item a:hover .media-tooltip {
  transform: scale(1);
  transition: all .2s ease-out;
}

#media-links .media-tooltip p {
  padding: 5px 10px;
  font-size: var(--text-sm);
  font-weight: 700;
  color: var(--pink-700);
  margin: 0!Important;
}

#contact #email {
  margin-top: 20px;
}

#contact #email a {
  text-decoration: none;
  color: var(--pink-600);
  padding: 5px 12px;
  border-radius: 50px;
  background-color: var(--pink-50);
  transition: all .2s ease-in;
} #contact #email a:hover {
  color: var(--pink-700);
  background-color: var(--pink-100);
  transition: all .2s ease-out;
}

#profile-footer {
  padding: 0 20px 30px 20px;
  font-weight: 600;
}

#profile-footer p:first-child {
  color: var(--black);
}
/* Side Section End */

/* Footer Section Start */
footer {
  margin-top: 150px;
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: var(--text-xs);
  font-weight: 500;
}
/* Footer Section End */



/* Responsive Breakpoints */
@media screen and (max-width: 420px) {
  #profile {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  #container {
    max-width: 640px;
  }

  nav {
    max-width: 640px!important;
  }

  
  #home #greetings {
    font-size: var(--text-2xl);
  }

  #home #name {
    font-size: calc(var(--text-6xl) - 5px);
  }

  #home span {
    font-size: var(--text-base)!important;
  }

  #home span #autotype {
    font-size: var(--text-base)!important;
  }

  footer p {
    font-size: var(--text-sm);
  }
}

@media screen and (min-width: 768px) {
  #container {
    max-width: 768px;
  }

  nav {
    max-width: 768px!important;
  }

  #nav-menu ul {
    display: flex;
  }

  #nav-menu ul li {
    list-style: none;
  }

  #nav-menu ul li:first-child,
  #nav-menu ul li:nth-child(2),
  #nav-menu ul li:nth-child(3) {
    margin-right: 15px;
  }

  #nav-menu ul li a {
    text-decoration: none;
    color: var(--text-black);
    padding: 8px 12px;
    border-radius: 50px;
    transition: all .3s ease-in;
  } #nav-menu ul li a:hover {
    color: var(--pink-600);
    background-color: var(--pink-100);
    transition: all .3s ease-out;
  }

  #home #greetings {
    font-size: calc(var(--text-3xl) - 3px);
  }

  #home #name {
    font-size: var(--text-6xl);
  }

  #home span {
    font-size: var(--text-lg)!important;
  }

  #home span #autotype {
    font-size: var(--text-lg)!important;
  }
}

@media screen and (min-width: 1024px) {
  #container {
    max-width: 1024px;
  }

  nav {
    max-width: 1024px!important;
  }

  #dropdown-menu {
    display: none;
  }

  #nav-menu {
    display: inherit;
  }

  #profile {
    width: 600px;
  }

  #profile-head blockquote {
    font-size: var(--text-base);
  }

  #contact #social-media article p:first-child {
    display: inline;
  }

  #contact #social-media article p:last-child {
    margin-top: 0;
    display: inline;
  }
}

@media screen and (min-width: 1280px) {
  #container {
    max-width: 1280px;
  }

  nav {
    max-width: 1280px!important;
  }

  #home span, #autotype {
    font-size: var(--text-lg);
  }

  #content-container {
    display: flex;
    column-gap: 30px;
    position: relative;
  }

  #about {
    padding-top: 300px;
    width: 65%;
  }

  #project {
    width: 100%;
  }

  .accordion .view-btn {
    padding: 24px 32px;
  }

  .project-name {
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-name h4 {
    font-size: var(--text-3xl);
  }

  .project-description {
    padding: 0 32px;
  } .project-description.show {
    padding: 24px 32px;
    border-top: 1px solid var(--slate-200);
  }
  
  aside {
    height: fit-content;
    position: absolute;
    right: 0;
  }

  #profile {
    width: 376px;
  }
}